﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BookingAppStore.Models.Book

    <div>
        <h3>Таблица книг</h3>
        <table>
            <tr class="header"><td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>


                <td><p><a href="/Home/Buy/@b.Id">Купить</a> | <a href="/Home/Delete/@b.Id">Удалить</a> | 
                        <a href="/Home/Edit/@b.Id">Редактировать</a></td>
            </tr>
            }
        </table>
        <p><a href="/Home/Create">Добавить новую книгу</a></p>
       
        
        <p><h3>Таблица покупателей</h3></p>        
        <table>
            <tr class="header">
                <td><p>Покупатель</p></td>
                <td><p>Адрес</p></td>
                <td><p>Номер книги</p></td>
                <td><p>Дата покупки</p></td>
                <td></td>
            </tr>
            @foreach (var p in ViewBag.purchases)
            {
                <tr>
                    <td><p>@p.Person</p></td>
                    <td><p>@p.Address</p></td>
                    <td><p>@p.BookId</p></td>
                    <td><p>@p.Date</p></td>
                    <td>
                        <p>
                    </td>
                </tr>
            }
        </table>
        <p><a href="/Home/GetFile">Скачать информацию о среде разработки</a></p>
        <p><a href="/Home/Info">Отобразить информацию о пользователе</a></p>
        <p><a href="/Home/CreateUser">Добавление нового пользователя и проверка валидации</a></p>
    </div>